{% extends "grouplayout.html" %}


{% block content %}
    {% block head %}
        <h1>ГИДРОИЗОЛЯЦИОННЫЕ СМЕСИ ТМ "МИКСИТИ" ДЛЯ ОБУСТРОЙСТВА ГИДРОИЗОЛЯЦИИ ЭЛЕМЕНТОВ СТРОИТЕЛЬНЫХ КОНСТРУКЦИЙ.</h1>
    {% endblock head %}

    {% block groupitems%}
    <div class="product-block">
        <div class="group-menu">
            <a class="group-item" href="#">ОБМАЗОЧНАЯ</a>
            <a class="group-item" href="#">ШТУКАТУРНАЯ</a>
        </div>
        <div class="group-item-info">
            <div class="item-block">
                <div class="item-img">
                    <img src="../static/images/hydro_mixity_coating.png" alt="Гидроизоляция МИКСИТИ ШТУКАТУРНАЯ">
                </div>
                <div class="item-info">
                    <h3>ГИДРОИЗОЛЯЦИЯ <br>«ОБМАЗОЧНАЯ»</h3>
                    <table>
                        <tr><td>Цвет:</td><td>серый</td></tr>
                        <tr><td>Вяжущее:</td><td>цементное</td></tr>
                        <tr><td>Фракция заполнителя:</td><td>0,63 мм</td></tr>
                        <tr><td>Расход при слое 1 мм:</td><td>1,7-2,0 кг/м2</td></tr>
                        <tr><td>Рекомендуемый слой:</td><td>2-4 мм</td></tr>
                        <tr><td>Жизнеспособность:</td><td>не менее 30 минут</td></tr>
                        <tr><td>Прочность сцепления:</td><td>не менее 20,0 МПа</td></tr>
                        <tr><td>Марка по водонепроницаемости:</td><td>не менее W6</td></tr>
                        <tr><td>Марка по морозостойкости:</td><td>не менее F100</td></tr>
                        <tr><td></td><td></td></tr>
                        <tr><td>Описание:</td><td><a href="#"><span>[</span> HTML <span>]</span></a> | <a href="#"><span>[</span> PDF <span>]</span></a></td></tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
    {% endblock groupitems %}

    {% block infotable%}
    <h2>СРАВНИТЕЛЬНАЯ ТАБЛИЦА МАТЕРИАЛОВ:</h2>

    <table class="table-info">
        <colgroup>
            <col span="1" style="width: 30%;">
            <col span="1" style="width: 35%;">
            <col span="1" style="width: 35%;">
        </colgroup>
        <tr><th>НАИМЕНОВАНИЕ</th><th>ОБМАЗОЧНАЯ</th><th>ШТУКАТУРНАЯ</th></tr>
        <tr><td>Цвет</td><td>серый</td><td>серый</td></tr>
        <tr><td>Вяжущее</td><td>цементое</td><td>цементое</td></tr>
        <tr><td>Заполнитель</td><td>фракционированный песок</td><td>фракционированный песок</td></tr>
        <tr><td>Фракция заполнителя</td><td>0,63 мм</td><td>2,5 мм</td></tr>
        <tr><td>Рекомендуемый слой нанесения</td><td>2-4 мм</td><td>5-50 мм</td></tr>
        <tr><td>Марка по водонепроницаемости</td><td>не менее W6</td><td>не менее W6</td></tr>
        <tr><td>Марка по морозостойкости</td><td>не менее F100</td><td>не менее F100</td></tr>
        <tr><td>Эксплуатация в условиях высоких температур</td><td>не более +120°С</td><td>-</td></tr>
        <tr><td>Виды работ</td><td>выравнивание и гидроизоляция бетонных и железобетонных поверхностей, каменной и кирпичной кладки, химическая защита бетонных, железобетонных, металлических конструкций от воздействия грунтовых вод и среднеагрессивных сред, карбонизации и антиобледенительных солей</td><td>выравнивание и гидроизоляция бетонных и железобетонных поверхностей, а также каменной и кирпичной кладки, восстановление защитного слоя бетона</td><!--<td>локальное восстановление геометрических показателей бетонных, железобетонных, кирпичных  и каменных конструкций (эрозия, сколы, выбоины, трещины)</td>--></tr>
    </table>
    <p class="notation">* - Указанные характеристики действительны при температуре окружающей среды (20±2)°С, относительной влажности воздуха (60±10)%. При других температурно-влажностных условиях характеристики могут изменяться.</p>

    {% endblock infotable %}

{% endblock content %}


