{% extends "grouplayout.html" %}


{% block content %}
    {% block head %}
        <h1>ШТУКАТУРКИ ТМ "МИКСИТИ" ДЛЯ ПЕРВОНАЧАЛЬНОГО И УЛУЧШЕННОГО ВЫРАВНИВАНИЯ СТЕН И СОЗДАНИЯ
            КАЧЕСТВЕННОГО И ПРОЧНОГО ОСНОВАНИЯ ПОД ПОСЛЕДУЮЩУЮ ОТДЕЛКУ.</h1>
    {% endblock head %}

    {% block groupitems%}
    <div class="product-block">
        <div class="group-menu">
            <a class="group-item" href="#">ЦЕМОСЛОЙ ЛАЙТ</a>
            <a class="group-item" href="#">ЦЕМОСЛОЙ СТАНДАРТ ЛАЙТ</a>
            <a class="group-item" href="#">ЦЕМОСЛОЙ ЛАЙТ ЭКСТРА</a>
            <a class="group-item" href="#">ЦШ</a>
            <a class="group-item" href="#">ГИПСОСЛОЙ ЛАЙТ</a>
        </div>
        <div class="group-item-info">
            <div class="item-block">
                <div class="item-img">
                    <img src="../static/images/plaster_mixity_cemosloy_lait.png" alt="Штукатурка МИКСИТИ ЦЕМОСЛОЙ ЛАЙТ">
                </div>
                <div class="item-info">
                    <h3>ШТУКАТУРКА «ЦЕМОСЛОЙ ЛАЙТ»</h3>
                    <table>
                        <tr><td>Цвет:</td><td>серый</td></tr>
                        <tr><td>Вяжущее:</td><td>цементно-известковое</td></tr>
                        <tr><td>Фракция заполнителя:</td><td>0,63 мм</td></tr>
                        <tr><td>Расход при слое 10 мм:</td><td>14-15 кг/м2</td></tr>
                        <tr><td>Рекомендуемая толщина слоя:</td><td>5-15 мм</td></tr>
                        <tr><td>Жизнеспособность:</td><td>не менее 4 часов</td></tr>
                        <tr><td>Прочность при сжатии:</td><td>не менее 2,5 МПа</td></tr>
                        <tr><td>Способ нанесения:</td><td>ручной и механизированный</td></tr>
                        <tr><td></td><td></td></tr>
                        <tr><td>Описание:</td><td><a href="#"><span>[</span> HTML <span>]</span></a> | <a href="#"><span>[</span> PDF <span>]</span></a></td></tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
    {% endblock groupitems %}

    {% block infotable%}
    <h2>СРАВНИТЕЛЬНАЯ ТАБЛИЦА МАТЕРИАЛОВ:</h2>

    <h5>ЦЕМЕНТНЫЕ ШТУКАТУРКИ.</h5>
    <table class="table-info">
        <colgroup>
            <col span="1" style="width: 20%;">
            <col span="1" style="width: 20%;">
            <col span="1" style="width: 20%;">
            <col span="1" style="width: 20%;">
            <col span="1" style="width: 20%;">
        </colgroup>
        <tr><th>НАИМЕНОВАНИЕ</th><th>ЦШ</th><th>ЦемоСЛОЙ<br>ЛАЙТ</th><th>ЦемоСЛОЙ<br>ЛАЙТ ЭКСТРА</th><th>ЦемоСЛОЙ<br>СТАНДАРТ ЛАЙТ</th></tr>
        <tr><td>Цвет</td><td>серый</td><td>серый</td><td>серый</td><td>серый</td></tr>
        <tr><td>Вяжущее</td><td>цемент</td><td>цемент, известь</td><td>цемент, известь</td><td>цемент</td></tr>
        <tr><td>Фракция заполнителя</td><td>0,63 мм</td><td>0,63 мм</td><td>0,63 мм</td><td>0,63 мм</td></tr>
        <tr><td>Рекомендуемый слой нанесения при сплошном выравнивании</td><td>5-15 мм</td><td>5-15 мм</td><td>5-30 мм</td><td>5-15 мм</td></tr>
        <tr><td>Рекомендуемый слой нанесения при частичном выравнивании</td><td>до 25 мм</td><td>до 25 мм</td><td>до 40 мм</td><td>до 25 мм</td></tr>
        <tr><td>Основания</td><td> бетон, глиняный и силикатный кирпич, каменная кладка</td><td>бетон, ячеистый бетон, глиняный и силикатный кирпич, каменная кладка</td><td>бетон, ячеистый бетон, глиняный и силикатный кирпич, каменная кладка</td><td>бетон, глиняный и силикатный кирпич, каменная кладка</td></tr>
        <tr><td>Особенности</td><td>механизированное нанесение</td><td>механизированное нанесение</td><td>с армирующими волокнами</td><td>механизированное нанесение</td></tr>
    </table>
    <h5>ГИПСОВЫЕ ШТУКАТУРКИ.</h5>
    <table class="table-info">
        <colgroup>
            <col span="1" style="width: 30%;">
            <col span="1" style="width: 35%;">
            <col span="1" style="width: 35%;">
        </colgroup>
        <tr><th>НАИМЕНОВАНИЕ</th><th>ГипсоСЛОЙ ЛАЙТ</th><th>ГШ</th></tr>
        <tr><td>Цвет</td><td>светло-бежевый</td><td>бежевый</td></tr>
        <tr><td>Вяжущее</td><td>гипс</td><td>гипс</td></tr>
        <tr><td>Фракция заполнителя</td><td>0,63 мм</td><td>0,63 мм</td></tr>
        <tr><td>Рекомендуемый слой нанесения при сплошном выравнивании</td><td>5-50 мм</td><td>5-50 мм</td></tr>
        <tr><td>Рекомендуемый слой нанесения при частичном выравнивании</td><td>до 80 мм</td><td>до 50 мм</td></tr>
        <tr><td>Основания</td><td>бетон, ячеистый бетон, гипсокартон, кирпичная кладка, цементные штукатурки</td><td>ячеистого бетон, гипсокартона,  кирпича, цементные и гипсовые штукатурки</td></tr>
        <tr><td>Способ нанесения</td><td>ручной и механизированный</td><td>ручной и механизированный</td></tr>

    </table>
        <p class="notation">* - Указанные характеристики действительны при температуре окружающей среды (20±2)°С, относительной влажности воздуха (60±10)%. При других температурно-влажностных условиях характеристики могут изменяться.</p>

    {% endblock infotable %}

{% endblock content %}


