{% extends "grouplayout.html" %}


{% block content %}
    {% block head %}
        <h1>КЛЕИ ДЛЯ ПЛИТКИ ТМ "МИКСИТИ" - ДЛЯ УКЛАДКИ КЕРАМИЧЕСКОЙ И КЕРАМОГРАНИТНОЙ ПЛИТКИ,
            ПЛИТКИ ИЗ НАТУРАЛЬНОГО И ИСКУССТВЕННОГО КАМНЯ.</h1>
    {% endblock head %}

    {% block groupitems%}
    <div class="product-block">
        <div class="group-menu">
            <a class="group-item" href="#">БАЗОВЫЙ</a>
            <a class="group-item" href="#">УСИЛЕННЫЙ СТАНДАРТ</a>
            <a class="group-item" href="#">УСИЛЕННЫЙ</a>
            <a class="group-item" href="#">УНИВЕРСАЛЬНЫЙ</a>

        </div>
        <div class="group-item-info">
            <div class="item-block">
                <div class="item-img">
                    <img src="../static/images/glue_mixity_base.png" alt="Клей МИКСИТИ БАЗОВЫЙ">
                </div>
                <div class="item-info">
                    <h3>КЛЕЙ ДЛЯ ПЛИТКИ «БАЗОВЫЙ»</h3>
                    <table>
                        <tr><td>Цвет:</td><td>серый</td></tr>
                        <tr><td>Расход:</td><td>2-4 кг/м2</td></tr>
                        <tr><td>Фракция заполнителя:</td><td>0,63 мм</td></tr>
                        <tr><td>Толщина клеевого шва:</td><td>10 мм</td></tr>
                        <tr><td>Жизнеспособность:</td><td>не менее 4 часов</td></tr>
                        <tr><td>Прочность сцепления:</td><td>не менее 0,5 МПа</td></tr>
                        <tr><td></td><td></td></tr>
                        <tr><td>Описание:</td><td><a href="{{ url_for('base_glue') }}"><span>[</span> HTML <span>]</span></a> | <a href="#"><span>[</span> PDF <span>]</span></a></td></tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
    {% endblock groupitems %}

    {% block infotable%}
    <h2>СРАВНИТЕЛЬНАЯ ТАБЛИЦА МАТЕРИАЛОВ:</h2>
    <table class="table-info">
            <colgroup>
                <col span="1" style="width: 20%;">
                <col span="1" style="width: 20%;">
                <col span="1" style="width: 20%;">
                <col span="1" style="width: 20%;">
                <col span="1" style="width: 20%;">
            </colgroup>
            <tr><th class="name">НАИМЕНОВАНИЕ</th><th>БАЗОВЫЙ</th><th>СТАНДАРТ УСИЛЕННЫЙ</th><th>УСИЛЕННЫЙ</th><th>УНИВЕРСАЛЬНЫЙ</th></tr>
            <tr><td>Цвет</td><td>серый</td><td>серый</td><td>серый</td><td>серый</td></tr>
            <tr><td>Виды работ</td><td>внутренние</td><td>внутренние, наружные</td><td>внутренние, наружные</td><td>внутренние, наружные</td></tr>
            <tr><td>Облицовочный материал</td><td>настенная и напольная керамическая плитка, керамогранит на пол (не более 30х30 см)</td><td>настенная и напольная керамическая плитка, керамогранит на пол и стены (не более 30х30 см)</td><td>настенная и напольная керамическая плитка, керамогранит на пол и стены (не более 60х60 см)</td><td>все виды керамической, керамогранитной и клинкерной плитки</td><!--<td>керамическая, керамогранитная, клинкерная плитка, плитка из натурального и искусственного камня</td>--></tr>
            <tr><td>Основания</td><td>бетон, ячеистый бетон, кирпич, цементные и цементно-известковые штукатурки</td><td>бетон, ячеистый бетон, кирпич, гипсокартон, цементные и цементно-известковые штукатурки</td><td>бетон, ячеистый бетон, кирпич, гипсокартон, цементные и цементно-известковые штукатурки</td><td>бетон, ячеистый бетон, кирпич, гипсокартон, цементные и цементно-известковые штукатурки, а также гипсовые штукатурки при условии обязательного грунтования поверхности</td><!--<td>типовые (бетон, ячеистый бетон, кирпич, гипсокартон, цементные и гипсовые штукатурки и пр.) и сложные основания (старая плитка, масляная краска, ДСП, фанера и т. п.)</td>--></tr>
            <tr><td>Прочность при сжатии*</td><td>5,0 МПа</td><td>7,5 МПа</td><td>7,5 МПа</td><td>7,5 МПа</td></tr>
            <tr><td>Прочность сцепления с основанием*</td><td>0,5 МПа</td><td>0,7 МПа</td><td>1,0 МПа</td><td>1,0 МПа</td></tr>
            <tr><td>Максимальная толщина клеевого шва</td><td>10 мм</td><td>10 мм</td><td>10 мм</td><td>20 мм</td></tr>
            <tr><td>Открытое время работы*</td><td>10 мин</td><td>15 мин</td><td>20 мин</td><td>20 мин</td></tr>
            <tr><td>Время корректировки*</td><td>10 мин</td><td>15 мин</td><td>20 мин</td><td>20 мин</td></tr>
    </table>
    <p class="notation">* - Указанные характеристики действительны при температуре окружающей среды (20±2)°С, относительной влажности воздуха (60±10)%. При других температурно-влажностных условиях характеристики могут изменяться.</p>
    {% endblock infotable %}

{% endblock content %}


