{% extends "mainlayout.html" %}

{% block content %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='generallayout.css') }}">
    <h1>ТОВАРНЫЙ ЗНАК.</h1>

        <p>
            Изображения и наименования (средства индивидуализации), представленные в этом разделе сайта,
            являются зарегистрированными товарными знаками, знаками обслуживания, коммерческими обозначениями и
            фирменным наименованием ООО «АВАНГАРД» и находятся под правовой охраной.
            Правообладателем всех средств индивидуализации, представленных в настоящем разделе сайта,
            является ООО «АВАНГАРД». Никто не вправе использовать средства индивидуализации,
            представленные в настоящем разделе сайта, без специального письменного согласия ООО «АВАНГАРД».
            Использование средств индивидуализации без такого согласия является незаконным и влечёт ответственность,
            установленную Кодексом об административных правонарушениях РФ,
            а также Гражданским и Уголовным кодексами РФ.
        </p>

        <!-- <div style="border-radius: 5px; box-shadow: 0 0px 3px 1px #cccccc; padding: 15px;"> -->
            <img src="../static/images/logoMIXITY.png" alt="Логотип МИКСИТИ">
        <!-- </div> -->


{% endblock content %}