{% extends "grouplayout.html" %}


{% block content %}
    {% block head %}
        <h1>КЛАДОЧНЫЕ РАСТВОРЫ И СМЕСИ ТМ "МИКСИТИ" ДЛЯ УКЛАДКИ ГАЗО- И ПЕНОБЕТОНА, СИЛИКАТНОГО И ГЛИНЯННОГО КИРПИЧА,
            ПАЗОГРЕБНЕВЫХ ПЛИТ И БЛОКОВ.</h1>
    {% endblock head %}

    {% block groupitems%}
    <div class="product-block">
        <div class="group-menu">
            <a class="group-item" href="#">ГАЗОБЕТОН</a>
            <a class="group-item" href="#">ТЕПЛОКЛЕЙ</a>
        </div>
        <div class="group-item-info">
            <div class="item-block">
                <div class="item-img">
                    <img src="../static/images/block_mixity_gazobeton.png" alt="МИКСИТИ ГАЗОБЕТОН">
                </div>
                <div class="item-info">
                    <h3>СМЕСЬ КЛАДОЧНАЯ <br>«ГАЗОБЕТОН»</h3>
                    <table>
                        <tr><td>Цвет:</td><td>серый</td></tr>
                        <tr><td>Вяжущее:</td><td>цементное</td></tr>
                        <tr><td>Расход:</td><td>20 кг/м3</td></tr>
                        <tr><td>Толщина клеевого шва:</td><td>5 мм</td></tr>
                        <tr><td>Жизнеспособность:</td><td>не менее 4 часов</td></tr>
                        <tr><td>Прочность при сжатии:</td><td>не менее 5,0 МПа</td></tr>
                        <tr><td>Прочность сцепления:</td><td>не менее 0,5 МПа</td></tr>
                        <tr><td>Морозостойкость:</td><td>не менее 50</td></tr>
                        <tr><td></td><td></td></tr>
                        <tr><td>Описание:</td><td><a href="#"><span>[ </span> HTML <span> ]</span></a> | <a href="#"><span>[ </span> PDF <span> ]</span></a></td></tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
    {% endblock groupitems %}

    {% block infotable%}
    <h2>СРАВНИТЕЛЬНАЯ ТАБЛИЦА МАТЕРИАЛОВ:</h2>
    <table class="table-info">
        <colgroup>
            <col span="1" style="width: 30%;">
            <col span="1" style="width: 35%;">
            <col span="1" style="width: 35%;">
        </colgroup>
        <tr><th>НАИМЕНОВАНИЕ</th><th>ГАЗОБЕТОН</th><th>ТЕПЛОКЛЕЙ</th></tr>
        <tr><td>Цвет</td><td>серый</td><td>серый</td></tr>
        <tr><td>Вяжущее</td><td>цемент</td><td>цемент</td></tr>
        <tr><td>Заполнитель</td><td>фракционированный песок</td><td>фракционированный песок</td></tr>
        <tr><td>Виды работ</td><td>внутренние, наружные</td><td>внутренние, наружные</td></tr>
        <tr><td>Режим влажности</td><td>любой</td><td>любой</td></tr>
        <tr><td>Материал</td><td>ячеистый бетон</td><td>плиты утеплителя из пенополистирола и минеральной ваты</td></tr>
    </table>
    <p class="notation">* - Указанные характеристики действительны при температуре окружающей среды (20±2)°С, относительной влажности воздуха (60±10)%. При других температурно-влажностных условиях характеристики могут изменяться.</p>
    {% endblock infotable %}

{% endblock content %}


