{% extends "mainlayout.html" %} {% block content %}
<h1>
  <strong
    >СУХИЕ СТРОИТЕЛЬНЫЕ СМЕСИ ТМ МИКСИТИ - МАТЕРИАЛЫ ДЛЯ ОТДЕЛКИ И
    СТРОИТЕЛЬСТВА</strong
  >
</h1>
<div class="main-gallery"></div>
<div class="materials-type-info">
  <h3>МАТЕРИАЛЫ</h3>
  <!-- <div class="material-type">
            <p class="type-header"><span class="bold">Материалы</span> для проведения работ внутри помещений с любым режимом влажности,
                 а также <span class="bold"><br>для наружных работ</span>. Идеально подходят для бетонных поверхностей, 
                 глиняных и силикатных кирпичей, каменной кладки, а также поверхностей, подвергающихся систематическому 
                 увлажнению.</p>
            <a href="#" class="type-info"><span class="select"><span class="parenthesis">[</span> Качественное и прочное основание под последующую отделку. <span class="parenthesis">]</span></span><br><br><br><br><br><br><br><br>МАТЕРИАЛЫ ДЛЯ НАРУЖНЫХ РАБОТ <span class="parenthesis"> >></span></span></a>
        </div>
        <div class="material-type" style="margin-left: 200px;">
            <p class="type-header"><span class="bold">Материалы</span> для проведения работ внутри помещений с любым режимом влажности,
                 а также <span class="bold"><br>для наружных работ</span>. Идеально подходят для бетонных поверхностей, 
                 глиняных и силикатных кирпичей, каменной кладки, а также поверхностей, подвергающихся систематическому 
                 увлажнению. ,<br><span class="select"><span class="parenthesis">[</span> Качественное и прочное основание под последующую отделку. <span class="parenthesis">]</span></span></p>
            <a href="#" class="type-info">МАТЕРИАЛЫ ДЛЯ ВНУТРЕННИХ РАБОТ <span class="parenthesis"> >></span></a>
        </div> -->

  <h5>ПО ВИДУ РАБОТ:</h5>
  <section class="type-container">
    <article class="material-type">
      <div class="frame">
        <p class="icon">OUT<br />SIDE</p>
      </div>
      <p class="type-desc">
        <span class="parenthesis">[ </span>Качественное и прочное основание под
        последующую отделку. <span class="parenthesis"> ]</span>
      </p>
      <a href="#" class="type-link"
        >ДЛЯ НАРУЖНЫХ <br/>РАБОТ <span class="parenthesis">>></span></a
      >
    </article>
    <article class="material-type">
      <div class="frame">
        <p class="icon">IN<br />SIDE</p>
      </div>
      <p class="type-desc">
        <span class="parenthesis">[ </span>Качественное и прочное основание под
        последующую отделку. <span class="parenthesis"> ]</span>
      </p>
      <a href="#" class="type-link"
        >ДЛЯ ВНУТРЕННИХ <br/>РАБОТ <span class="parenthesis"> >></span></a
      >
    </article>
    <article class="material-type">
      <div class="frame">
        <p class="icon">RAW</p>
      </div>
      <p class="type-desc">
        <span class="parenthesis">[ </span>Качественное и прочное основание под
        последующую отделку. <span class="parenthesis"> ]</span>
      </p>
      <a href="#" class="type-link"
        >ДЛЯ ПЕРВОНАЧАЛЬНОГО ВЫРАВНИВАНИЯ<span class="parenthesis"> >></span></a
      >
    </article>
    <article class="material-type">
      <div class="frame">
        <p class="icon">FINE</p>
      </div>
      <p class="type-desc">
        <span class="parenthesis">[ </span>Качественное и прочное основание под
        последующую отделку. <span class="parenthesis"> ]</span>
      </p>
      <a href="#" class="type-link"
        >ДЛЯ УЛУЧШЕННОГО ВЫРАВНИВАНИЯ <span class="parenthesis"> >></span></a
      >
    </article>
  </section>

  <h5>ПО СЛОЮ НАНЕСЕНИЯ:</h5>
  <section class="type-container">
    <article class="material-type">
      <div class="frame">
        <p class="icon">&lt;5</p>
      </div>
      <p class="type-desc">
        <span class="parenthesis">[ </span>Качественное и прочное основание под
        последующую отделку. <span class="parenthesis"> ]</span>
      </p>
      <a href="#" class="type-link"
        >ДО 5 мм <span class="parenthesis">>></span></a
      >
    </article>
    <article class="material-type">
      <div class="frame">
        <p class="icon">&lt;15</p>
      </div>
      <p class="type-desc">
        <span class="parenthesis">[ </span>Качественное и прочное основание под
        последующую отделку. <span class="parenthesis"> ]</span>
      </p>
      <a href="#" class="type-link"
        >ДО 15 мм <span class="parenthesis"> >></span></a
      >
    </article>
    <article class="material-type">
      <div class="frame">
        <p class="icon">&lt;50</p>
      </div>
      <p class="type-desc">
        <span class="parenthesis">[ </span>Качественное и прочное основание под
        последующую отделку. <span class="parenthesis"> ]</span>
      </p>
      <a href="#" class="type-link"
        >ДО 50 мм <span class="parenthesis"> >></span></a
      >
    </article>
    <article class="material-type">
      <div class="frame">
        <p class="icon">50&gt;</p>
      </div>
      <p class="type-desc">
        <span class="parenthesis">[ </span>Качественное и прочное основание под
        последующую отделку. <span class="parenthesis"> ]</span>
      </p>
      <a href="#" class="type-link"
        >СВЫШЕ 5 мм <span class="parenthesis"> >></span></a
      >
    </article>
  </section>

  <h5>ПО РЕЖИМУ ВЛАЖНОСТИ:</h5>
  <section class="type-container">
    <article class="material-type">
      <div class="frame">
        <p class="icon">DRY</p>
      </div>
      <p class="type-desc">
        <span class="parenthesis">[ </span>Качественное и прочное основание под
        последующую отделку. <span class="parenthesis"> ]</span>
      </p>
      <a href="#" class="type-link"
        >ДЛЯ СУХИХ <br/>ПОМЕЩЕНИЙ<span class="parenthesis">>></span></a
      >
    </article>
    <article class="material-type">
      <div class="frame">
        <p class="icon">WET</p>
      </div>
      <p class="type-desc">
        <span class="parenthesis">[ </span>Качественное и прочное основание под
        последующую отделку. <span class="parenthesis"> ]</span>
      </p>
      <a href="#" class="type-link"
        >ДЛЯ ВЛАЖНЫХ <br/>ПОМЕЩЕНИЙ<span class="parenthesis"> >></span></a
      >
    </article>
    <a href="#" class="material-type">
      <span class="frame">WET</span>
      <span class="type-desc">
        <span class="parenthesis">[ </span>Качественное и прочное основание под
        последующую отделку. <span class="parenthesis"> ]</span>
      </span>
      <span class="type-link"
        >ДЛЯ ВЛАЖНЫХ <br/>ПОМЕЩЕНИЙ<span class="parenthesis"> >></span></span
      >
    </a>
  </section>

  <h5>ПО ВЯЖУЩЕМУ:</h5>
  <section class="type-container">
    <article class="material-type">
      <div class="frame">
        <p class="icon">Ce</p>
      </div>
      <p class="type-desc">
        <span class="parenthesis">[ </span>Качественное и прочное основание под
        последующую отделку. <span class="parenthesis"> ]</span>
      </p>
      <a href="#" class="type-link"
        >ЦЕМЕНТНЫЕ<span class="parenthesis">>></span></a
      >
    </article>
    <article class="material-type">
      <div class="frame">
        <p class="icon">Gi</p>
      </div>
      <p class="type-desc">
        <span class="parenthesis">[ </span>Качественное и прочное основание под
        последующую отделку. <span class="parenthesis"> ]</span>
      </p>
      <a href="#" class="type-link"
        >ГИПСОВЫЕ<span class="parenthesis"> >></span></a
      >
    </article>
    <article class="material-type">
      <div class="frame">
        <p class="icon">Po</p>
      </div>
      <p class="type-desc">
        <span class="parenthesis">[ </span>Качественное и прочное основание под
        последующую отделку. <span class="parenthesis"> ]</span>
      </p>
      <a href="#" class="type-link"
        >ПОЛИМЕРНЫЕ<span class="parenthesis"> >></span></a
      >
    </article>
  </section>

  <h5>ПО ФРАЦКИИ НАПОЛНИТЕЛЯ:</h5>
  <secion class="type-container">
    <article class="material-type">
      <div class="frame">
        <p class="icon">0.63</p>
      </div>
      <p class="type-desc">
        <span class="parenthesis">[ </span>Качественное и прочное основание под
        последующую отделку. <span class="parenthesis"> ]</span>
      </p>
      <a href="#" class="type-link"
        >МЕЛКОФРАКЦИОННЫЕ<span class="parenthesis">>></span></a
      >
    </article>
    <article class="material-type">
      <div class="frame">
        <p class="icon">2.5</p>
      </div>
      <p class="type-desc">
        <span class="parenthesis">[ </span>Качественное и прочное основание под
        последующую отделку. <span class="parenthesis"> ]</span>
      </p>
      <a href="#" class="type-link"
        >КРУПНОФРАКЦИОННЫЕ<span class="parenthesis"> >></span></a
      >
    </article>
  </secion>
</div>
{% endblock content %}
