{% extends "mainlayout.html" %}

{% block style %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='product.css') }}">

<script src="../static/scripts/jquery-1.7.1.js"></script>
<script src="../static/scripts/jquery.easing.1.js"></script>
<script src="../static/scripts/jquery.tablify.js"></script>
<script src="../static/scripts/jquery.tablify.ext.js"></script>
{% endblock style %}

{% block content %}
    {% block head %}

    {% endblock head %}

    
    <section class="main-info">
        <div class="product-pic">
            {% block itempic %}

            {% endblock itempic %}
        </div>

        <div class="product-info">
            {% block itemdescbar %}
        
            {% endblock itemdescbar %}
        </div>
    </section>

    <section class="storage">
        <article class="storage-info">
            <h3>ХРАНЕНИЕ:</h3>
            <p>Сухие строительные смеси следует хранить в таре производителя, обеспечивая сохранность упаковки, избегая увлажнения, в крытых сухих помещениях с относительной влажностью воздуха не более 60%. Гарантийный срок хранения при соблюдении вышеуказанных условий составляет 6 месяцев со дня изготовления.</p>
        </article>
        <article class="storage-info">
            <h3>ТЕХНИКА БЕЗОПАСНОСТИ:</h3>
            <p>При работе с материалом используйте индивидуальные средства защиты, предохраняющие от попадания смеси в дыхательные пути и на кожу. В случае попадания смеси в глаза промойте их водой и при необходимости обратитесь к врачу.</p>
        </article>
        <article class="storage-info">
            <h3>ОЧИСТКА ИНСТРУМЕНТА:</h3>
            <p>Инструмент и оборудование сразу после окончания работ требуется тщательно промыть водой. Воду, использованную для очистки инструмента, нельзя применять для изготовления новой растворной смеси.</p>
        </article>
        <article class="storage-info">
            <h3>ПРЕДУПРЕЖДЕНИЕ:</h3>
            <p>Настоящая информация касается основных данных по применению материала и не освобождает от соблюдения строительных норм и правил, а также правил техники безопасности!</p>
        </article>
    </section>

    <section class="tech-block">
        <div class="tech-block-item tech-spec">
            <h3>ТЕХНИЧЕСКИЕ ХАРАКТЕРИСТИКИ:</h3>
            {% block infotable%}

            {% endblock infotable %}
        </div>

        <div class="tech-block-item recommendations">
            <h3>С ЭТИМ МАТЕРИАЛОМ РЕКОМЕНДУЕМ:</h3>
            {% block recommendations %}

            {% endblock recommendations %}
        </div>  
    </section>
{% endblock content %}

{% block scripts %}
    <script>
            $(".table-info")
            .tablify("clear",
                 {
                 headerAlign:'left',
                 headerPadding:'5px',
                 headerFontSize:'13px',
                 headerFontColor:'#fff',
                 headerBackground:'#606b89',
                 headerBorderBottom:'1px solid #3E4C6E',
                 headerBorderTop:'thin solid #3E4C6E',
                 headerFont:'Open sans, sans-serif',
                 rowsBackground: '#FAFAFA',
                 tableBorderBottom:'thin solid #3E4C6E',
                 tableBorderCollapse:"collapse",
                 rowsPadding:'5px',
                 rowsFontColor:'#1D3456',
                 rowsFont:'Open sans, sans-serif',
                 rowsFontSize:'11px',
                 hover:'#EEEEEE'});
    </script>
{% endblock scripts %}