{% extends "grouplayout.html" %}


{% block content %}
    {% block head %}
        <h1>ЗАТИРКИ ДЛЯ ШВОВ ТМ "МИКСИТИ" ДЛЯ ЗАПОЛНЕНИЯ ШВОВ ВСЕХ ОСНОВНЫХ ВИДОВ ПЛИТКИ,
            А ТАКЖЕ СТЕКЛЯННОЙ МОЗАИКИ И ПЛИТ ИЗ ПРИРОДНОГО КАМНЯ.</h1>
    {% endblock head %}

    {% block groupitems%}
    <div class="product-block">
        <div class="group-menu">
            <a class="group-item" href="#">ЗАТИРКА СЕРАЯ</a>
            <a class="group-item" href="#">ЗАТИРКА БЕЛАЯ</a>
        </div>
        <div class="group-item-info">
            <div class="item-block">
                <div class="item-img">
                    <img src="../static/images/grout_mixity_grey.png" alt="МИКСИТИ ЗАТИРКА БЕЛАЯ">
                </div>
                <div class="item-info">
                    <h3>ЗАТИРКА ДЛЯ ШВОВ <br>«МАСТЕРШОВ СЕРАЯ»</h3>
                    <table>
                        <tr><td>Цвет:</td><td>серый</td></tr>
                        <tr><td>Расход:</td><td>0,3-1,5 кг/м2</td></tr>
                        <tr><td>Фракция заполнителя:</td><td>0,2 мм</td></tr>
                        <tr><td>Рекомендуемая толщина шва:</td><td>6 мм</td></tr>
                        <tr><td>Жизнеспособность:</td><td>не менее 1 часа</td></tr>
                        <tr><td>Прочность сцепления:</td><td>не менее 0,5 МПа</td></tr>
                        <tr><td></td><td></td></tr>
                        <tr><td>Описание:</td><td><a href="#"><span>[</span> HTML <span>]</span></a> | <a href="#"><span>[</span> PDF <span>]</span></a></td></tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
    {% endblock groupitems %}

    {% block infotable%}
    <h2>СРАВНИТЕЛЬНАЯ ТАБЛИЦА МАТЕРИАЛОВ:</h2>

    <table class="table-info">
        <colgroup>
            <col span="1" style="width: 30%;">
            <col span="1" style="width: 35%;">
            <col span="1" style="width: 35%;">
        </colgroup>
        <tr><th class="name">НАИМЕНОВАНИЕ</th><th>МастерШОВ БЕЛАЯ</th><th>МастерШОВ СЕРАЯ</th></tr>
        <tr><td>Цвет</td><td>белый</td><td>серый</td></tr>
        <tr><td>Вяжущее</td><td>цемент</td><td>цемент</td></tr>
        <tr><td>Фракция заполнителя</td><td>0,2 мм</td><td>0,2 мм</td></tr>
        <tr><td>Рекомендуемая толщина шва</td><td>6 мм</td><td>6 мм</td></tr>
        <tr><td>Виды работ</td><td>внутренние, наружные</td><td>внутренние, наружные</td></tr>
        <tr><td>Режим влажности</td><td>любой</td><td>любой</td></tr>
        <tr><td>Особенности</td><td>водо-, морозостойкая</td><td>водо-, морозостойкая</td></tr>
        <tr><td>Облицовочный материал</td><td>заполнение швов всех основных видов плитки
            (керамическая, клинкерная, фарфоровая), а также стеклянной мозаики и плит из природного камня</td>
            <td>заполнение швов всех основных видов плитки (керамическая, клинкерная, фарфоровая),
                а также стеклянной мозаики и плит из природного камня</td></tr>
    </table>
    <p class="notation">* - Указанные характеристики действительны при температуре окружающей среды (20±2)°С, относительной влажности воздуха (60±10)%. При других температурно-влажностных условиях характеристики могут изменяться.</p>

    {% endblock infotable %}

{% endblock content %}


