{% extends "grouplayout.html" %}


{% block content %}
    {% block head %}
        <h1>РОВНИТЕЛИ ДЛЯ ПОЛА ТМ "МИКСИТИ" ДЛЯ ПЕРВОНАЧАЛЬНОГО И ОКОНЧАТЕЛЬНОГО ВЫРАВНИВАНИЯ И
            КОРРЕКТИРОВАНИЯ БЕТОННЫХ ПОЛОВ И МОНОЛИТНЫХ ЦЕМЕНТНЫХ СТЯЖЕК.</h1>
    {% endblock head %}

    {% block groupitems%}
    <div class="product-block">
        <div class="group-menu">
                <a class="group-item" href="#">ФИНИШПОЛ</a>
            <a class="group-item" href="#">ЦЕМОПОЛ</a>
        </div>
        <div class="group-item-info">
            <div class="item-block">
                <div class="item-img">
                    <img src="../static/images/leveler_mixity_cemopol_finish.png" alt="Ровнитель МИКСИТИ ФИНИШПОЛ">
                </div>
                <div class="item-info">
                    <h3>РОВНИТЕЛЬ ДЛЯ ПОЛА<br>«ЦЕМОПОЛ ФИНИШ»</h3>
                    <table>
                        <tr><td>Цвет:</td><td>серый</td></tr>
                        <tr><td>Вяжущее:</td><td>цементное</td></tr>
                        <tr><td>Расход:</td><td>17-18 кг/м2</td></tr>
                        <tr><td>Фракция заполнителя:</td><td>0,63 мм</td></tr>
                        <tr><td>Рекомендуемый</br>слой нанесения:</td><td>5-15 мм</td></tr>
                        <tr><td>Жизнеспособность:</td><td>не менее 15 минут</td></tr>
                        <tr><td>Прочность при сжатии:</td><td>не менее 15,0 МПа</td></tr>
                        <tr><td></td><td></td></tr>
                        <tr><td>Описание:</td><td><a href="#"><span>[</span> HTML <span>]</span></a> | <a href="#"><span>[</span> PDF <span>]</span></a></td></tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
    {% endblock groupitems %}

    {% block infotable%}
    <h2>СРАВНИТЕЛЬНАЯ ТАБЛИЦА МАТЕРИАЛОВ:</h2>

    <table class="table-info">
        <colgroup>
            <col span="1" style="width: 30%;">
            <col span="1" style="width: 35%;">
            <col span="1" style="width: 35%;">
        </colgroup>
        <tr><th>НАИМЕНОВАНИЕ</th><th>ЦемоПОЛ ОСНОВА</th><th>ЦемоПОЛ ФИНИШ</th></tr>
        <tr><td>Цвет</td><td>серый</td><td>серый</td></tr>
        <tr><td>Вяжущее</td><td>цемент</td><td>цемент</td></tr>
        <tr><td>Фракция заполнителя</td><td>2,5 мм</td><td>0,63 мм</td></tr>
        <tr><td>Толщина слоя нанесения</td><td>10-50 мм</td><td>5-15 мм</td></tr>
        <tr><td>Локально</td><td>80 мм</td><td>30 мм</td></tr>
        <tr><td>Виды работ</td><td>внутренние, наружные</td><td>внутренние</td></tr>
        <tr><td>Режим влажности</td><td>любой</td><td>любой</td></tr>
        <tr><td>Окончательная прочность после нанесения материала</td><td>через 28 суток</td><td>через 28 суток</td></tr>
        <tr><td>Минимальная прочность пригодная для хождения</td><td>через 24 часа</td><td>через 24 часа</td></tr>
        <tr><td>Особенности</td><td>водо-, морозостойкая</td><td>водостойкая</td></tr>
    </table>
    <p class="notation">* - Указанные характеристики действительны при температуре окружающей среды (20±2)°С, относительной влажности воздуха (60±10)%. При других температурно-влажностных условиях характеристики могут изменяться.</p>
    {% endblock infotable %}

{% endblock content %}


